# intermediate/cached/swap/local files
CMakeFiles*
CMakeCache.txt
*.pyc
*.swp 
*.swo 
.*.sw?
.qglviewer.xml

# distance field files
*.adf
*.scpf

# data files
*.vtk
*.dat
*.csv
*.png
*.avi
*.mp4
*.obj
*.gz
*.tar

# data directories
data*
build*
gcc-build
work

src/scripts/rendering
src/scripts/db_gdrive/index.html
src/scripts/db_gdrive/client_secret.json
src/scripts/db_gdrive/downloaded
