temp* 
*data*

*.scpf

*.swp 
*.swo 
.*.swp 
.*.swo 

.*.sw?

*.vtk
*.dat
*.png

*.pyc
*.gz
*.tar

*.obj

CMakeFiles*

temp*


build*
work/impulse-response/test
work/impulse-response/integral_freespace
work/impulse-response/test2
work/impulse-response/test3
work/impulse-response/test*

work/head_test/*
work/sphericalhead_test
work/impulse-response/geometry

