sndrate   = 192000;
sim_step  = 0.001;
sound_len = 5.0;

# the file storing impulses
impulse_file = "modalImpulses.txt";
scale_prefix = "forceScales";

sndobj = ( { geometry       = "../plate/plate.tet.geo.txt";
             eigenmodes     = "../plate/plate.modes";   # RigidModal
             transfer_file  = "fbem_ret/tfv-0_%d.txt";  # FBemTransferInterp
             tick_file      = "fp-0.txt";               # FBemTransferInterp
             alpha          = 1.0E-7;                   # RigidModal
             beta           = 40.;                      # RigidModal
             id             = 0;
             gamma          = 3000.;
             ear_angle      = "ear_angles-0.txt";
             numfixed       = 0; 
             density        = 2300.0;                   # RigidModal
             contact_damping_winlen    = 800;
             contact_damping_threshold = 800; } );
