<?xml version="1.0" ?>
<impulse_response>
    <material_list>
        <modal_material
            alpha = "30."
            beta = "1.0E-6"
            density = "1070"
            poisson_ratio = "0.35"
            youngs_modulus= "1.4E9"
            />
    </material_list>
    <scene>
        <acoustic_shaders>
            <id value = "modal_transfer_1"/>
            <modal_transfer_shader
                modes = "0 1 2 3"
            />
        </acoustic_shaders>
        <object_rigidsim_data
            file_displacement="displace.bin"
            file_velocity="velocity.bin"
            file_acceleration="acceleration.bin"
            />
        <rigid_sound_object
            id="0"
            working_directory="/home/jui-hsien/code/acoustics/work/two_sphere_collide"
            object_prefix="sphere_d10cm"
            fieldresolution="400"
            scale="1.0"
            initial_position_x="0.0"
            initial_position_y="0.0"
            initial_position_z="0.0"
            use_rasterized_boundary="1"
            material_id="0"
            impulse_file="modalImpulses.txt"
            impulse_rigidsim_config_file="rbd-config.cfg"
            mode_file="/home/jui-hsien/code/acoustics/work/two_sphere_collide/sphere_d10cm.modes"
            modal_ODE_step_frequency="176400"

            has_modal_source = "0"
            has_acc_noise_source = "0"
            add_shader_by_id = "modal_transfer_1"
            />
        <rigid_object_sequence
            working_directory="assets/processed/Pipe"
            obj_sequence_prefix="James_test_"
            obj_sequence_frequency="30"

            has_speaker_shader="1"
            speaker_file="dummy"
            speaker_vids_file_directory="dummy"
            speaker_vids_file_suffix="dummy"

            thin_structure="1"
            />
        <constraint
            id="floor"
            height="0.0"
            />
    </scene>
    <solver_control_policy
        type="static"
        gridresolution="80"
        domain_center_x="0"
        domain_center_y="0."
        domain_center_z="0"
        />
    <!--
    <solver_control_policy
        type="dynamic"
        padding="80"
    />
    -->
    <solver
        sound_speed="343.0"
        density="1.184"
        air_viscosity_alpha="2E-5"
        cellsize="0.0005"
        stop_time="1.0"
        number_of_timesteps="176400"
        substeps="1"
        timestepfrequency="176400"
        output_pattern="data_test/test_%s"
        PML_width="0"
        PML_strength="1000000.0"
        boundary_condition_preset="0"
        write_pressure_field_to_disk="0"
        fast_forward_to_event_time="0.3368"
        boundary_handling="fully_coupled"

        only_obj_sequence="1"

        time_parallel="1"
        num_time_chunks="10"
        overlap_time = "0.5"
        adaptive_start_time="1"
        early_termination_ratio="1E-3"

        validate_using_fbem="0"
        />
    <time_parallelization>
        <chunk_partition
            adaptive = "1"
            L_z = "0.1"
            N_0 = "10"
            N_maxc = "10"
            out_file = "chunks.txt"
            />
    </time_parallelization>
    <pressure_source>
        <gaussian_pressure_source
            source_width_time="0.0000020"
            source_position_x="0.00"
            source_position_y="0.012"
            source_position_z="0.012"
            />
    </pressure_source>
    <listening_point_list>
        <listening_point x="0.3" y="0.5" z="0.4"/>
        <listening_point x="0.5" y="0.4" z="0.3"/>
        <listening_point x="0.4" y="0.3" z="0.5"/>
    </listening_point_list>
</impulse_response>
